Repository Peek-a-chu/Peekle: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-lint, frontend-build, backend-lint, backend-build

frontend-lint:
  stage: lint
  image: node:20-alpine
  before_script:
  - cd apps/frontend
  - npm install -g pnpm@10.28.1
  - pnpm install --frozen-lockfile
  script:
  - pnpm run lint
  - pnpm run format:check
  - pnpm run type-check
  cache:
    key: frontend-${CI_COMMIT_REF_SLUG}
    paths:
    - apps/frontend/node_modules/

frontend-build:
  stage: build
  image: node:20-alpine
  before_script:
  - cd apps/frontend
  - npm install -g pnpm@10.28.1
  - pnpm install --frozen-lockfile
  script:
  - pnpm run build
  artifacts:
    paths:
    - apps/frontend/.next
    expire_in: 1 day
  cache:
    key: frontend-${CI_COMMIT_REF_SLUG}
    paths:
  ...

backend-lint:
  stage: lint
  image: node:20-alpine
  before_script:
  - cd apps/nest-api
  - npm ci
  script:
  - npm run lint
  cache:
    key: backend-${CI_COMMIT_REF_SLUG}
    paths:
    - apps/nest-api/node_modules/

backend-build:
  stage: build
  image: node:20-alpine
  before_script:
  - cd apps/nest-api
  - npm ci
  script:
  - npm run build
  artifacts:
    paths:
    - apps/nest-api/dist
    expire_in: 1 day
  cache:
    key: backend-${CI_COMMIT_REF_SLUG}
    paths:
    - apps/nest-api/node_modules/

feat: 메인 화면 구조 변경
  apps/frontend/next.config.ts
  apps/frontend/src/app/(main)/layout.tsx
Due: frontend-lint, frontend-build

feat: 메인 화면 랭킹 컴포넌트 변경
  apps/frontend/src/domains/home/components/LeagueRanking.tsx
  apps/frontend/src/domains/home/hooks/useDashboardData.ts
Due: frontend-lint, frontend-build

docs: 리그시스템 룰 수정, 데이터베이스에 맞게 수정
  docs/spec/database-schema.md
  docs/spec/epics/epic-07-league.md
Due: none

feat: 리그시스템, 랭킹 api 구현
  apps/backend/src/main/java/com/peekle/domain/league/controller/LeagueController.java
  apps/backend/src/main/java/com/peekle/domain/league/dto/LeagueRankingMemberDto.java
  apps/backend/src/main/java/com/peekle/domain/league/dto/LeagueStatDto.java
  apps/backend/src/main/java/com/peekle/domain/league/dto/LeagueStatusResponse.java
  apps/backend/src/main/java/com/peekle/domain/league/enums/LeagueStatus.java
  apps/backend/src/main/java/com/peekle/domain/league/enums/LeagueTier.java
  apps/backend/src/main/java/com/peekle/domain/league/service/LeagueService.java
  apps/backend/src/main/java/com/peekle/domain/user/repository/UserRepository.java
Due: none

feat: 리그 도메인 구현
  apps/frontend/src/app/api/leagueApi.ts
  apps/frontend/src/domains/league/types.ts
  apps/frontend/src/domains/league/utils.ts
Due: frontend-lint, frontend-build

feat: 랭킹컴포넌트, 리그 구현
  apps/frontend/src/app/(main)/league/page.tsx
  apps/frontend/src/domains/league/components/CCLeagueMyStatus.tsx
  apps/frontend/src/domains/league/components/CCLeagueRankingList.tsx
Due: frontend-lint, frontend-build

feat: 리그 규칙 모달 구현
  apps/frontend/src/domains/league/components/LeagueRuleModal.tsx
Due: frontend-lint, frontend-build

S14P11A408-80 feat: enhance problem management and socket integration
  apps/frontend/src/api/problemApi.ts
  apps/frontend/src/app/study/[id]/layout.tsx
  apps/frontend/src/app/study/[id]/page.tsx
  apps/frontend/src/domains/study/components/CCAddProblemModal.tsx
  apps/frontend/src/domains/study/components/CCProblemCard.tsx
  apps/frontend/src/domains/study/components/CCProblemListPanel.tsx
  apps/frontend/src/domains/study/components/CCStudyRoomClient.tsx
  apps/frontend/src/domains/study/components/StudyLayoutContent.tsx
  apps/frontend/src/domains/study/components/chat/StudyChatPanel.tsx
  apps/frontend/src/domains/study/context/SocketContext.tsx
  apps/frontend/src/domains/study/hooks/useProblems.ts
  apps/frontend/src/domains/study/hooks/useSocket.ts
  apps/frontend/src/domains/study/hooks/useStudyChat.ts
  apps/frontend/src/domains/study/hooks/useWhiteboardSocket.ts
  apps/nest-api/src/controllers/study.controller.ts
  apps/nest-api/src/sockets/socket.service.ts
Due: frontend-lint, frontend-build, backend-lint, backend-build

S14P11A408-80 fix: refactor WhiteboardOverlay and related hooks for improved functionality and performance
  apps/frontend/.eslintrc.json
  apps/frontend/src/api/problemApi.ts
  apps/frontend/src/api/studyApi.ts
  apps/frontend/src/api/userApi.ts
  apps/frontend/src/app/api/auth/signup/route.ts
  apps/frontend/src/app/api/studies/[id]/problems/[problemId]/route.ts
  apps/frontend/src/app/api/studies/my/route.ts
  apps/frontend/src/app/api/submissions/[submissionId]/route.ts
  apps/frontend/src/domains/study/api/problemApi.ts
  apps/frontend/src/domains/study/api/studyApi.ts
  apps/frontend/src/domains/study/components/CCCenterPanel.tsx
  apps/frontend/src/domains/study/components/CCProblemCard.tsx
  apps/frontend/src/domains/study/components/CCProblemListPanel.tsx
  apps/frontend/src/domains/study/components/CCStudyRoomClient.tsx
  apps/frontend/src/domains/study/components/CCSubmissionViewerModal.tsx
  apps/frontend/src/domains/study/components/whiteboard/WhiteboardCanvas.tsx
  apps/frontend/src/domains/study/components/whiteboard/WhiteboardOverlay.tsx
  apps/frontend/src/domains/study/context/SocketContext.tsx
  apps/frontend/src/domains/study/hooks/useProblemDates.ts
  apps/frontend/src/domains/study/hooks/useProblems.ts
  apps/frontend/src/domains/study/hooks/useRealtimeCode.ts
  apps/frontend/src/domains/study/hooks/useSocket.ts
  apps/frontend/src/domains/study/hooks/useStudyChat.ts
  apps/frontend/src/domains/study/hooks/useWhiteboardSocket.ts
  apps/frontend/src/domains/study/tests/CCWhiteboardTile.test.tsx
  apps/frontend/src/domains/study/tests/WhiteboardCanvas.test.tsx
  apps/frontend/src/domains/study/tests/WhiteboardOverlay.test.tsx
  apps/frontend/src/domains/study/types.ts
  apps/frontend/src/types/apiUtils.ts
  apps/frontend/src/types/sockjs-client.d.ts
Due: frontend-lint, frontend-build

S14P11A408-80 fix: update webpack configuration to include external dependencies for improved compatibility
  apps/frontend/next.config.ts
Due: frontend-lint, frontend-build

hwa-e-ting
  apps/frontend/next.config.ts
  apps/frontend/src/api/problemApi.ts
  apps/frontend/src/api/studyApi.ts
  apps/frontend/src/app/study/[id]/whiteboard/page.tsx
  apps/frontend/src/domains/study/api/problemApi.ts
  apps/frontend/src/domains/study/components/CCAddProblemModal.tsx
  apps/frontend/src/domains/study/components/CCCenterPanel.tsx
  apps/frontend/src/domains/study/components/CCControlBar.tsx
  apps/frontend/src/domains/study/components/CCStudyRoomClient.tsx
  apps/frontend/src/domains/study/components/CCWhiteboardTile.tsx
  apps/frontend/src/domains/study/components/whiteboard/WhiteboardCanvas.tsx
  apps/frontend/src/domains/study/components/whiteboard/WhiteboardOverlay.tsx
  apps/frontend/src/domains/study/hooks/useProblems.ts
  apps/frontend/src/domains/study/hooks/useStudyChat.ts
  apps/frontend/src/domains/study/hooks/useStudyRoomLogic.ts
  apps/frontend/src/domains/study/hooks/useSubmissions.ts
  apps/frontend/src/domains/study/hooks/useWhiteboardSocket.ts
  apps/frontend/src/domains/study/tests/WhiteboardCanvas.test.tsx
  apps/nest-api/seed.ts
  apps/nest-api/src/app.service.ts
  apps/nest-api/src/controllers/study.controller.ts
  apps/nest-api/src/controllers/submission.controller.ts
  apps/nest-api/src/sockets/socket.service.ts
  docs/spec/epics/stories/S4-7-whiteboard.md
Due: frontend-lint, frontend-build, backend-lint, backend-build

S14P11A408-80 refactor: remove unused problemApi and studyApi files to clean up the codebase
  apps/frontend/src/api/problemApi.ts
  apps/frontend/src/api/studyApi.ts
Due: frontend-lint, frontend-build

S14P11A408-80 feat: add WhiteboardTest component with socket integration and drawing tools
  apps/frontend/src/app/study/[id]/whiteboard/page.tsx
Due: frontend-lint, frontend-build

S14P11A408-80 refactor: improve code formatting and readability in WhiteboardTestContent component
  apps/frontend/src/app/study/[id]/whiteboard/page.tsx
Due: frontend-lint, frontend-build

S14P11A408-80 refactor: update API fetch calls to use consistent base URL and improve caching strategy
  apps/frontend/src/domains/study/api/problemApi.ts
Due: frontend-lint, frontend-build

S14P11A408-80 feat: enhance WhiteboardCanvas and WhiteboardOverlay for user color differentiation and improved functionality
  apps/frontend/src/domains/study/components/whiteboard/WhiteboardCanvas.tsx
  apps/frontend/src/domains/study/components/whiteboard/WhiteboardOverlay.tsx
Due: frontend-lint, frontend-build

S14P11A408-80 refactor: update import paths for problemApi and studyApi, and enhance whiteboard functionality in various components
  apps/frontend/src/domains/study/components/CCAddProblemModal.tsx
  apps/frontend/src/domains/study/components/CCCenterPanel.tsx
  apps/frontend/src/domains/study/components/CCControlBar.tsx
  apps/frontend/src/domains/study/components/CCStudyRoomClient.tsx
  apps/frontend/src/domains/study/components/CCWhiteboardTile.tsx
Due: frontend-lint, frontend-build

S14P11A408-80 refactor: update import paths for API modules to use relative paths
  apps/frontend/src/domains/study/hooks/useProblems.ts
  apps/frontend/src/domains/study/hooks/useStudyChat.ts
  apps/frontend/src/domains/study/hooks/useStudyRoomLogic.ts
  apps/frontend/src/domains/study/hooks/useSubmissions.ts
  apps/frontend/src/domains/study/hooks/useWhiteboardSocket.ts
Due: frontend-lint, frontend-build

S14P11A408-80 feat: add API rewrites for local development and remove unused mouse move test in WhiteboardCanvas
  apps/frontend/next.config.ts
  apps/frontend/src/domains/study/tests/WhiteboardCanvas.test.tsx
Due: frontend-lint, frontend-build

S14P11A408-80 feat: enhance seed data with sample code snippets and participant mock data for submissions
  apps/nest-api/seed.ts
  apps/nest-api/src/app.service.ts
  apps/nest-api/src/controllers/study.controller.ts
  apps/nest-api/src/controllers/submission.controller.ts
  apps/nest-api/src/sockets/socket.service.ts
Due: backend-lint, backend-build

S14P11A408-80 feat: update whiteboard system to remove overlay and implement IDE Split mode with enhanced preview and synchronization
  docs/spec/epics/stories/S4-7-whiteboard.md
Due: none

S14P11A408-80 test: update CCProblemCard and Whiteboard tests for hint visibility and rendering behavior
  apps/frontend/src/domains/study/tests/CCProblemCard.test.tsx
  apps/frontend/src/domains/study/tests/WhiteboardCanvas.test.tsx
  apps/frontend/src/domains/study/tests/WhiteboardOverlay.test.tsx
Due: frontend-lint, frontend-build

S14P11A408-112 feat: update GitLab CI/CD pipeline for frontend and backend builds, remove main branch references, and adjust artifact paths
  .gitlab-ci.yml
Due: none

feat: 게임 상태 관리 백엔드 구현
  apps/backend/build.gradle
  apps/backend/src/main/java/com/peekle/domain/game/enums/GameStatus.java
  apps/backend/src/main/java/com/peekle/domain/game/service/RedisGameService.java
  apps/backend/src/main/java/com/peekle/global/redis/RedisKeyConst.java
Due: none

S14P11A408-112 fix: Update.gitlab-ci.yml file abs path to relative path
  .gitlab-ci.yml
Due: none

fix : Update .gitlab-ci.yml file to clone if dir doesn't have
  .gitlab-ci.yml
Due: none

S14P11A408-112 fix: change clone way to using PAT
  .gitlab-ci.yml
Due: none

fix: wrong environ value import in .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

S14P11A408-112 fix: update deploy script to use PAT and enable auto-deploy
  .gitlab-ci.yml
Due: none

S14P11A408-112 fix: update output configuration in next.config.ts for platform compatibility
  apps/frontend/next.config.ts
Due: frontend-lint, frontend-build

refactor: 사진이미지를 avatarUrl에서 profileImg로 변경
  apps/backend/src/main/java/com/peekle/domain/user/dto/UserProfileResponse.java
  apps/backend/src/main/java/com/peekle/domain/user/service/UserService.java
  apps/frontend/src/domains/lnb/components/UserProfileSection.tsx
  apps/frontend/src/domains/profile/actions/profile.ts
  apps/frontend/src/domains/profile/components/CCProfileHeader.tsx
  apps/frontend/src/domains/profile/types.ts
Due: frontend-lint, frontend-build

feat: 프로필 페이지 닉네임으로 검색되게 수정
  apps/backend/src/main/java/com/peekle/domain/league/enums/LeagueTier.java
  apps/backend/src/main/java/com/peekle/domain/user/controller/UserController.java
  apps/frontend/src/app/(main)/home/page.tsx
  apps/frontend/src/app/(main)/profile/[nickname]/history/page.tsx
  apps/frontend/src/app/(main)/profile/[nickname]/page.tsx
  apps/frontend/src/app/(main)/profile/me/history/page.tsx
  apps/frontend/src/app/(main)/profile/me/page.tsx
  apps/frontend/src/domains/home/components/LearningTimeline.tsx
  apps/frontend/src/domains/profile/actions/history.ts
  apps/frontend/src/domains/profile/components/CCProfileView.tsx
Due: frontend-lint, frontend-build

S14P11A408-112 feat: import .env file path for local redis develop
  docker/docker-compose.yml
Due: none

S14P11A408 fix: update redis-commander configuration for correct host and health check
  docker/docker-compose.yml
Due: none

S14P11A408-112 feat: update Docker configurations for Redis integration in development and production
  apps/frontend/Dockerfile
  docker/coturn/turnserver.conf
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
Due: frontend-lint, frontend-build

feat: QueryDSL을 이용한 스터디 랭킹 정렬 및 페이징 처리
  apps/backend/src/main/java/com/peekle/domain/study/repository/StudyRoomRepositoryCustom.java
  apps/backend/src/main/java/com/peekle/domain/study/repository/StudyRoomRepositoryImpl.java
Due: none

S14P11A408-112 feat: add Mattermost notification for deployment status in CI/CD pipeline
  .gitlab-ci.yml
Due: none

feat: 스터디 랭킹 조회 API 구현
  apps/backend/src/main/java/com/peekle/domain/rank/controller/RankController.java
  apps/backend/src/main/java/com/peekle/domain/rank/dto/RankResponse.java
  apps/backend/src/main/java/com/peekle/domain/rank/service/RankService.java
Due: none

style: profileImage -> profileImg 로 변경
  apps/backend/src/main/java/com/peekle/domain/study/dto/http/response/StudyMemberResponse.java
Due: none

Path conditions:
  frontend-lint: any of: apps/frontend/**/*
  frontend-build: any of: apps/frontend/**/*
  backend-lint: any of: apps/nest-api/**/*
  backend-build: any of: apps/nest-api/**/*
