Repository Peek-a-chu/Peekle: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-lint, frontend-build, backend-lint, backend-build

Path conditions:
  frontend-lint: any of: apps/frontend/**/*
  frontend-build: any of: apps/frontend/**/*
  backend-lint: any of: apps/nest-api/**/*
  backend-build: any of: apps/nest-api/**/*

S14P11A408-80 feat: replace ChatPlaceholder with StudyChatPanel in CCRightPanel
  apps/frontend/src/domains/study/components/CCRightPanel.tsx
Due: frontend-lint, frontend-build

S14P11A408-80 feat: update CCStudyRoomClient to improve problem selection handling and type definitions
  apps/frontend/src/domains/study/components/CCStudyRoomClient.tsx
Due: frontend-lint, frontend-build

S14P11A408-80 feat: add selectedProblemId handling to CCVideoGrid for improved interaction control
  apps/frontend/src/domains/study/components/CCVideoGrid.tsx
Due: frontend-lint, frontend-build

refactor: Fabric.js 필수 데이터에 맞춰서 리팩토링
  apps/backend/src/main/java/com/peekle/domain/study/controller/WhiteboardSocketController.java
  apps/backend/src/main/java/com/peekle/domain/study/dto/whiteboard/WhiteboardRequest.java
  apps/backend/src/main/java/com/peekle/domain/study/dto/whiteboard/WhiteboardResponse.java
  apps/backend/src/main/java/com/peekle/domain/study/service/WhiteboardService.java
  apps/backend/src/main/java/com/peekle/global/redis/RedisKeyConst.java
Due: none

S14P11A408-80 feat: implement real-time problem updates with socket integration in useProblems hook
  apps/frontend/src/domains/study/hooks/useProblems.ts
Due: frontend-lint, frontend-build

S14P11A408-80 feat: enhance useRealtimeCode hook to handle language updates and maintain default state
  apps/frontend/src/domains/study/hooks/useRealtimeCode.ts
Due: frontend-lint, frontend-build

S14P11A408-80 feat: enhance useRoomStore to manage problem and chat states with new actions
  apps/frontend/src/domains/study/hooks/useRoomStore.ts
Due: frontend-lint, frontend-build

S14P11A408-80 feat: update SOCKET_URL to use environment variable and improve type definitions in useSocket functions
  apps/frontend/src/domains/study/hooks/useSocket.ts
Due: frontend-lint, frontend-build

S14P11A408-80 feat: implement useStudyChat hook for real-time chat functionality with message history and code sharing
  apps/frontend/src/domains/study/hooks/useStudyChat.ts
Due: frontend-lint, frontend-build

S14P11A408-80 feat: add selected problem management in useStudyRoomLogic with updated handleSelectProblem
  apps/frontend/src/domains/study/hooks/useStudyRoomLogic.ts
Due: frontend-lint, frontend-build

S14P11A408-80 feat: update selectedProblemId prop in ProblemListPanel for proper state management
  apps/frontend/src/domains/study/layout/StudyLayoutLeftPanel.tsx
Due: frontend-lint, frontend-build

S14P11A408-80 feat: add ChatType and ChatMessage interface for chat functionality
  apps/frontend/src/domains/study/types/chat.ts
Due: frontend-lint, frontend-build

S14P11A408-80 feat: add tests for chat message reference and code reference functionality
  apps/frontend/src/domains/study/tests/CCProblemCard.test.tsx
  apps/frontend/src/domains/study/tests/CCProblemListPanel.test.tsx
  apps/frontend/src/domains/study/tests/useRealtimeCode.test.ts
  apps/frontend/src/tests/components/study/StudyHeader.test.tsx
  apps/frontend/src/tests/stores/useRoomStore.test.ts
  apps/frontend/tests/chat-reference.spec.ts
  apps/frontend/tests/code-reference-branch.spec.ts
Due: frontend-lint, frontend-build

S14P11A408-80 fix: update PostCSS and Tailwind configuration files for consistency and type safety
  .husky/pre-push
  apps/frontend/.eslintrc.json
  apps/frontend/README.md
  apps/frontend/next.config.ts
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
  apps/frontend/pnpm-lock.yaml
  apps/frontend/postcss.config.mjs
  apps/frontend/tailwind.config.ts
  apps/frontend/vitest.config.ts
Due: frontend-lint, frontend-build

S14P11A408-80 feat: improve pre-push checks to dynamically determine default branch
  .husky/pre-push
Due: none

S14P11A408-80 feat: add exclusion patterns for test files in Vitest configuration
  apps/frontend/vitest.config.ts
Due: frontend-lint, frontend-build

S14P11A408-80 feat: add test-results directory to .gitignore and update playwright configuration for web server settings
  .gitignore
  apps/frontend/playwright.config.ts
Due: frontend-lint, frontend-build

S14P11A408-49 feat: remove lint stages from CI/CD configuration and streamline build processes
  .gitlab-ci.yml
Due: none

S14P11A408-80 feat: skip tests for unimplemented reply button and parentMessage reference display in chat functionality
  apps/frontend/tests/chat-reference.spec.ts
  apps/frontend/tests/code-reference-branch.spec.ts
Due: frontend-lint, frontend-build

S14P11A408-80 feat: add TestChatPage component and integrate real chat functionality with socket connection
  apps/frontend/src/app/test-chat-standalone/page.tsx
  apps/frontend/src/domains/game/components/participant-card.tsx
  apps/frontend/src/domains/lnb/components/UserProfileSection.tsx
  apps/frontend/src/domains/profile/components/ProfileHeader.tsx
  apps/frontend/src/domains/study/components/CCVideoTile.tsx
Due: frontend-lint, frontend-build

S14P11A408-80 chore: update dependencies and add new packages
  pnpm-lock.yaml
Due: none

S14P11A408-80 fix: update Playwright configuration to use port 3001 for baseURL and webServer
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
Due: frontend-lint, frontend-build

S14P11A408-80 fix: skip tests for unimplemented UI features in code reference branch
  apps/frontend/tests/code-reference-branch.spec.ts
Due: frontend-lint, frontend-build

S14P11A408-80 test: remove unused test classes for Flyway migration and real database connection
  apps/backend/src/test/java/com/peekle/PeekleBackendApplicationTests.java
  apps/backend/src/test/java/com/peekle/global/config/FlywayMigrationTest.java
  apps/backend/src/test/java/com/peekle/global/config/RealDatabaseConnectionTest.java
Due: none

S14P11A408-80 feat: add image configuration and update profile components to use Next.js Image
  apps/frontend/next.config.ts
  apps/frontend/src/app/(main)/profile/me/page.tsx
  apps/frontend/src/domains/home/components/LeagueProgressChart.tsx
  apps/frontend/src/domains/lnb/components/UserProfileSection.tsx
  apps/frontend/src/domains/profile/components/CCProfileStatsRow.tsx
Due: frontend-lint, frontend-build

docs: 명세서와 DB 스키마, Mock 데이터를 최신 퍼센트 기반 규칙으로 동기화
  apps/frontend/src/domains/home/mocks/dashboardMocks.ts
  docs/spec/database-schema.md
  docs/spec/epics/epic-07-league.md
  docs/spec/epics/epic-08-ranking.md
Due: frontend-lint, frontend-build

feat: 리그 랭킹 리스트, 내 상태 카드 UI 구현
  apps/frontend/src/app/(main)/league/page.tsx
  apps/frontend/src/domains/league/components/CCLeagueMyStatus.tsx
  apps/frontend/src/domains/league/components/CCLeagueRankingList.tsx
Due: frontend-lint, frontend-build

S14P11A408-78 Refactor CSS: Consolidate styles for .monaco-editor-overlaymessage and custom scrollbar
  apps/frontend/package.json
  apps/frontend/pnpm-lock.yaml
  apps/frontend/src/app/globals.css
Due: frontend-lint, frontend-build

S14P11A408-78 feat: implement WhiteboardCanvas and WhiteboardOverlay components for collaborative drawing
  apps/frontend/src/domains/study/components/CCWhiteboardTile.tsx
  apps/frontend/src/domains/study/components/whiteboard/WhiteboardCanvas.tsx
  apps/frontend/src/domains/study/components/whiteboard/WhiteboardOverlay.tsx
Due: frontend-lint, frontend-build

S14P11A408-78 feat: add useWhiteboardSocket hook for real-time whiteboard functionality
  apps/frontend/src/domains/study/hooks/useRoomStore.ts
  apps/frontend/src/domains/study/hooks/useWhiteboardSocket.ts
Due: frontend-lint, frontend-build

S14P11A408-78 test: add unit tests for CCWhiteboardTile, WhiteboardCanvas, and WhiteboardOverlay components
  apps/frontend/src/domains/study/tests/CCWhiteboardTile.test.tsx
  apps/frontend/src/domains/study/tests/WhiteboardCanvas.test.tsx
  apps/frontend/src/domains/study/tests/WhiteboardOverlay.test.tsx
  apps/frontend/src/middleware.ts
Due: frontend-lint, frontend-build

S14P11A408-78 docs: update whiteboard specification to remove UNDO functionality and refine Toast notification details
  docs/spec/epics/stories/S4-7-whiteboard.md
Due: none

S14P11A408-78 fix: update API endpoints to use pluralized 'studies' for consistency
  apps/frontend/src/app/api/problemApi.ts
  apps/frontend/src/app/api/studyApi.ts
  apps/frontend/src/domains/study/actions/problemActions.ts
  apps/frontend/src/domains/study/api/problemApi.ts
Due: frontend-lint, frontend-build

S14P11A408-78 feat: refactor problem and submission APIs to support daily problems and enhance response handling
  apps/frontend/src/app/api/problemApi.ts
  apps/frontend/src/app/api/studyApi.ts
  apps/frontend/src/domains/study/api/problemApi.ts
  apps/frontend/src/domains/study/components/CCProblemCard.tsx
  apps/frontend/src/domains/study/components/CCProblemListPanel.tsx
  apps/frontend/src/domains/study/components/CCStudyRoomClient.tsx
  apps/frontend/src/domains/study/components/CCSubmissionViewerModal.tsx
  apps/frontend/src/domains/study/hooks/useProblems.ts
  apps/frontend/src/domains/study/types.ts
  apps/frontend/src/lib/api.ts
  apps/frontend/src/types/apiUtils.ts
  apps/nest-api/src/app.module.ts
  apps/nest-api/src/common/response.interceptor.ts
  apps/nest-api/src/controllers/study.controller.ts
  apps/nest-api/src/controllers/submission.controller.ts
Due: frontend-lint, frontend-build, backend-lint, backend-build

S14P11A408-80 feat: refactor socket handling by replacing EventsGateway with SocketService and implementing SockJS for real-time communication
  apps/nest-api/package.json
  apps/nest-api/src/app.module.ts
  apps/nest-api/src/app.service.ts
  apps/nest-api/src/controllers/study.controller.ts
  apps/nest-api/src/controllers/submission.controller.ts
  apps/nest-api/src/main.ts
  apps/nest-api/src/sockets/events.gateway.ts
  apps/nest-api/src/sockets/socket.service.ts
Due: backend-lint, backend-build

S14P11A408-80 fix: refactor code structure for improved readability and maintainability
  .github/instructions/toss-frontend-rule.instructions.md
  pnpm-lock.yaml
Due: none
